
<div class="contenedor-principal">
  <header class="encabezado-principal">

    <div class="contenido-encabezado">
     
      <div class="marca-app">

      
        <img src="https://img.freepik.com/vector-gratis/gradiente-ilustracion-pajaros-colores_343694-1741.jpg?w=360" alt="Logo de Vive Tu SAS" class="logo-app">
        <span>Vive Tu SAS - Películas</span>
      </div>

      <nav class="navegacion-principal">
        <ul>
          <li><a class="boton-navegacion" routerLink="/peliculas">Inicio</a></li>
          <li><a class="boton-navegacion" routerLink="/admin/peliculas">Administración</a></li>
        </ul>
      </nav>
    </div>
  </header>

 
  <main class="area-contenido-principal">
    <router-outlet></router-outlet>
  </main>


  <footer>
    <p>© 2025 Vive Tu SAS. Todos los derechos reservados.</p>
  </footer>
</div>
